@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .home-picture img {
    width: 100%;
  }

  .navbar img {
    padding-left: 22px;
  }

  .event-picture img {
    width: 100%;
  }

  .visit-picture img {
    width: 100%;
  }

  .visit-box img {
    width: 100%;
  }

  .visit-box {
    width: auto;
    height: auto;
  }

  .text-block {
    font-size: 10px;
  }

  .header2 {
    font-size: 15px;
    text-align: center;
  }

  .exhibit-container,
  .explore-container,
  .visit-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .content-container {
    grid-template-columns: repeat(1, auto);
    gap: 20px;
  }
  .contact p {
    font-size: 12px;
  }

  .explore-container img {
    display: none;
  }

  .text-area p {
    margin: 10px;
  }

  .explore-container h3 {
    padding-left: 12px;
  }

  .involved_image {
    display: none;
  }

  .involved-container h3 {
    padding-left: 15px;
  }

  .text-area-involved {
    margin: 10px;
  }
}
