@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* Nav - bar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

.navbar-links {
  height: 100%;
  padding-right: 15px;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding-right: 16px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.navbar-links li a {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.navbar-links li a:after {
  content: "";
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-links li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Main Section
--------------------------------- */

/* Landing picture */
.home-picture {
  width: 100%;
  position: relative;
}

.event-picture {
  width: 100%;
  position: relative;
}

.text-block {
  position: absolute;
  top: 25%;
  left: 20px;
  color: white;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Header 2  */
.header2 {
  text-align: center;
  text-decoration: underline;
  margin-top: 25px;
}

/* Exhibit box */
.exhibit-container {
  display: grid;
  max-width: 1300px;
  margin: 50px auto;
  grid-gap: 70px;
  grid-template-columns: repeat(3, auto);
}
.exhibits {
  background-color: #fbfbfb;
  padding-bottom: 20px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}
.exhibits p,
h3,
a {
  padding-left: 10px;
}

.cta {
  background-color: #00f510;
  color: #000000;
  font-size: 1em;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center;
}

.exhibits a:hover {
  background-color: #0089fa;
  color: #fff;
}

.robotics {
  margin-top: 10px;
  margin-left: 11px;
  padding-top: 65px;
}

.ecology {
  margin-top: 10px;
  padding-top: 25px;
  margin-left: 11px;
}

.cosmology {
  margin-top: 10px;
  padding-top: 45px;
  margin-left: 11px;
}

.exhibits img {
  width: 100%;
  height: 220px;
}

/* Footer Section
--------------------------------- */
footer {
  padding-top: 100px;
}

.footer-container {
  background-color: #000000;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-left: 50px;
}

.content-container h4 {
  text-decoration: underline;
}

.opening-hours li,
.social li {
  list-style: none;
}

.content-container i {
  padding-right: 5px;
}
