@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Nav - bar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

.navbar-links {
  height: 100%;
  padding-right: 15px;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding-right: 16px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.navbar-links li a {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.navbar-links li a:after {
  content: "";
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-links li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Landing Page
--------------------------------- */

/* Landing picture */
.home-picture {
  width: 100%;
  position: relative;
}

.event-picture {
  width: 100%;
  position: relative;
}

.text-block {
  position: absolute;
  top: 25%;
  left: 20px;
  color: white;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Header */
h2 {
  text-align: center;
  text-decoration: underline;
  padding-top: 15px;
}

.h3 {
  font-size: 32px;
}

/* Exhibit box /Events */
.exhibit-container {
  display: grid;
  max-width: 1300px;
  margin: 50px auto;
  grid-gap: 70px;
  grid-template-columns: repeat(3, auto);
}
.exhibits {
  background-color: #fbfbfb;
  padding-bottom: 20px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}
.exhibits h3 {
  padding-left: 10px;
}

.exhibit-container p,
.involved-container p {
  padding-left: 10px;
}

.cta {
  background-color: #00f510;
  color: #000000;
  font-size: 1em;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 10px;
  padding: 5px 10px;
  text-align: center;
}

.exhibits a:hover {
  background-color: #0089fa;
  color: #fff;
}

.robotics {
  margin-top: 10px;
  margin-left: 11px;
  padding-top: 65px;
}

.ecology {
  margin-top: 10px;
  padding-top: 25px;
  margin-left: 11px;
}

.cosmology {
  margin-top: 10px;
  padding-top: 45px;
  margin-left: 11px;
}

.exhibits img {
  width: 100%;
  height: 220px;
}

.home-picture img,
.event-picture img {
  width: 100%;
}

/* This had to be done for each of the divs because of the different height of the text above */
.bottom_p_robotics {
  padding-top: 31%;
}

.bottom_p_cosmo {
  padding-top: 42px;
}

.bottom_p_eco {
  padding-top: 22px;
}

.bottom_p_evo {
  padding-top: 40px;
}

/* Explore
--------------------------------- */
.explore-container {
  display: grid;
  max-width: 1300px;
  margin: 50px auto;
  grid-gap: 70px;
  grid-template-columns: repeat(1, auto);
}
.kids {
  background-color: #9a00db;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  color: white;
}

.kids img {
  float: left;
  margin-right: 15px;
}

.teachers img {
  float: left;
  margin-right: 15px;
}

.researchers img {
  float: left;
  margin-right: 15px;
}

.teachers {
  background-color: #00f510;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  color: black;
}

.researchers {
  background-color: #0089fa;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  color: white;
}

.text-area {
  margin-top: 15px;
  max-width: 1200px;
}

.text-area h3 {
  font-size: 32px;
}

/* Get Involved
--------------------------------- */
.involved-container {
  display: grid;
  max-width: 1100px;
  margin: 50px auto;
  grid-gap: 70px;
  grid-template-columns: repeat(1, auto);
}
.support,
.volunteer,
.internship {
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  color: black;
  padding-bottom: 10%;
  padding-top: 15px;
  height: 450px;
}

.involved-container h3 {
  padding-left: 10px;
}

.involved_image {
  float: left;
}

.involved-container p {
  padding-left: 15px;
}

.text-area-involved {
  max-width: 1000px;
}

/* Visit Us
--------------------------------- */

.visit-container {
  display: grid;
  max-width: 1300px;
  margin: 50px auto;
  grid-gap: 70px;
  grid-template-columns: repeat(3, auto);
}

.visit-box {
  background-color: #fbfbfb;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  width: 410px;
  height: 338px;
}

.visit-box li {
  list-style: none;
  padding-left: 10px;
}

.visit-box h3 {
  padding-left: 10px;
  padding-top: 5px;
}

.visit-box p {
  padding-left: 10px;
}

.visit-box i {
  display: flex;
  text-align: center;
  font-size: 70px;
}
.icons {
  display: flex;
  justify-content: center;
}

.visit-picture img {
  width: 100%;
}

/* Icon positioning */
.fa-wheelchair {
  padding-top: 50px;
}
.fa-business-time {
  padding-top: 70px;
}
.fa-ticket {
  padding-top: 13px;
}
.fa-mug-saucer {
  padding-top: 154px;
}
.fa-store {
  padding-top: 110px;
}

/* Footer Section
--------------------------------- */
footer {
  padding-top: 100px;
}

.footer-container {
  background-color: #000000;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-left: 50px;
}

.content-container h4 {
  text-decoration: underline;
}

.opening-hours li,
.social li {
  list-style: none;
}

.content-container i {
  padding-right: 5px;
}
